#redis
REDIS_MAX_CONN = 50
REDIS_MIN_IDLE = 5
REDIS_MAX_IDLE = 50
#REDIS_HOST = localhost
REDIS_HOST = 192.168.100.180
REDIS_PORT = 6379
REDIS_DATAFILE = 5
REDIS_PASSWORD = imeDiaReDS@)

#GIO HAN SIM ONLINE BANG NGUONG NAY SE CANH BAO
mailServer = smtp.gmail.com  
mailServerPort = 465
mailFrom = vietda@imediatech.com.vn
mailFromPass = mvbexbumfnrixbmw   
mailEnableSSl = true
TELEGRAM_URL = https://api.telegram.org/bot973875366:AAGaP3YMEQepGDpqT0IlSwRvE6LS_Iga9x0/sendMessage
TELEGRAM_CHAT_ID = -444937305
TELE_USER_QUEUE = tele_user_queue
TELE_GROUP_QUEUE = tele_group_queue
