<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<bean id="LogManager" class="springboot.logs.Logs"
		scope="prototype"></bean>

	<bean id="RedisConfig" class="group.fly.config.RedisConfig"
		scope="prototype">
		<property name="redis_host" value="localhost" />
		<property name="redis_port" value="6379" />
		<property name="redis_pass" value="" />
		<property name="redis_db" value="0" />
		<property name="tele_user_queue" value="tele_user_queue" />
		<property name="tele_group_queue" value="tele_group_queue" />
	</bean>

	<bean id="ProcessConfig" class="group.fly.config.ProcessConfig"
		scope="prototype">
		<property name="listStockCode" value="BIT;ETH" />
		<property name="acceptIncreasePercent" value="5.0" />
		<property name="acceptDecreasePercent" value="5.0" />
	</bean>

	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="springHikariCP" />
		<!-- <property name="connectionTestQuery"
			value="select 1 from dual" /> -->
		<!-- <property name="dataSourceClassName" value="oracle.jdbc.pool.OracleDataSource" 
			/> -->
		<property name="dataSourceClassName"
			value="com.mysql.jdbc.jdbc2.optional.MysqlDataSource" />
		<property name="maximumPoolSize" value="20" />
		<property name="idleTimeout" value="30000" />
		<property name="maxLifetime" value="0" />
		<property name="connectionTimeout" value="60000" />
		<property name="validationTimeout" value="10000" />
		<property name="dataSourceProperties">
			<props>
				<!-- <prop key="url">jdbc:mysql://localhost:3306/global_stock</prop>
				<prop key="user">global_stock</prop>
				<prop key="password">gb_stock2020</prop> -->
				<prop key="url">jdbc:mysql://localhost:3306/db_spam?useSSL=false</prop>
				<prop key="user">spam_sa</prop>
				<prop key="password">1357Apw!9</prop>
			</props>
		</property>
	</bean>
	<bean id="dataSourceHikari"
		class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg ref="hikariConfig" />
	</bean>


	<bean id="hibernate4AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceHikari" />
		<property name="packagesToScan"
			value="group.fly.hibernate.entities" />
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.connection.SetBigStringTryClob">true</prop>
				<prop key="hibernate.jdbc.batch_size">0</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
			</props>
		</property>
	</bean>
</beans>